﻿<h2>You are now ready to publish your story!</h2>
<p>But first, you may want to review a few options: </p>
<ul>
    <li>Is your story visible to everyone or, is it for you and your friends only?</li>
    <li>Actually it doesn't matter, because...</li>
    <li>...we haven't implemented that yet. Nevermind!</li>
</ul>
<p>You are ready to publish! When you press the publish button, your story will be accessible from the main page or your library.</p>
<button class="btn btn-flat btn-success" title="Publish" ng-click="publish()" style="margin-top: 10px">
    <span class="raleway-bold">Publish</span>
</button>
