﻿<h2>You are about to create your first story.</h2>
<p>In this three step process, you will first specify: </p>
<ul>
    <li>The name of your story.</li>
    <li>The genre, theme or category of your story, so you can attract people with specific interests.</li>
    <li>The description of your story, viewable on the story profile page and in search results.</li>
</ul>
<p>When you are ready to begin, start filling out the fields and press next to begin writing the first branch of your story!</p>
<form>
    <h3>Story Name</h3>
    <input type="text" class="form-control" ng-model="story.storyName">
</form>
<form>
    <h3>Story Category</h3>
    <input type="text" class="form-control" ng-model="story.storyCategory">
</form>
<form style="margin-top: 10px;">
    <h3>Story Description</h3>
    <div class="merriweather" text-angular="text-angular" ng-model="story.storyDesc"></div>
</form>