﻿<h2>Create the first branch of your story!</h2>
<p>A branch is like a page in your story, and it requires three things: </p>
<ul>
    <li>A branch title, which is later displayed as a header on the branch page.</li>
    <li>The body text of the branch, e.g. the page content.</li>
    <li>Choices, how to proceed in your story!</li>
</ul>
<p>When you feel comfortable that the first page of your story is sufficiently flashy, press next to finalize story options and then publish it!</p>
<form>
    <h3>Branch Title</h3>
    <input type="text" class="form-control" ng-model="rootBranch.head">
</form>
<form style="margin-top: 10px;">
    <h3>Branch Text</h3>
    <div class="merriweather" text-angular="text-angular" ng-model="rootBranch.body"></div>
</form>
<form style="margin-top: 10px;">
    <h3>Choices</h3>
    <div ng-repeat="branch in rootChoices" class="input-group merriweather" style="margin-top: 10px;">
        <input type="text" class="form-control" placeholder="{{branch.choice}}" ng-model="branch.choice;">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-cog text-muted" style="font-size: 16px; vertical-align: middle;"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a>Add New </a></li>
                <li><a>Link Existing</a></li>
                <li class="divider"></li>
                <li><a ng-click="deleteBranch(branch.id)">Delete</a></li>
            </ul>
        </div>
    </div>
</form>
<a ng-show="rootChoices.length < 5" ng-click="createBranch({choice:'New Branch'})"><h4><span style="margin-right: 5px; float: right;" class="glyphicon glyphicon-plus-sign"></span>Add new choice</h4></a>
<div class="tarina-spacer-bg"></div>