﻿<div class="row">
    <div class="col-sm-12">
        <div class="tarina-flexcontainer-row">
            <div class="panel panel-default tarina-flexitem" style="width: 100%;">
                <div class="panel-heading">
                    Reading List
                    <span class="glyphicon glyphicon-star text-muted" style="float:right;"></span>
                </div>
                <div class="panel-body" style="min-height: 300px; max-height: 300px; overflow-y: scroll;">
                    You are not following any stories.
                </div>
            </div>
            <div style="padding-right: 15px;"></div>
            <div class="panel panel-default tarina-flexitem" style="width: 100%; max-width: 250px;">
                <div class="panel-heading">
                    Bookmarks
                    <span class="glyphicon glyphicon-bookmark text-muted" style="float:right;"></span>
                </div>
                <div class="panel-body" style="min-height: 300px; max-height: 300px; overflow-y: scroll;">
                    You have no bookmarks.
                </div>
            </div>
        </div>
    </div><!-- /col-sm-12 -->
</div>
