﻿<li class="btn btn-flat btn-danger raleway-bold" ng-click="cancel()">Cancel</li>
<li style="margin-right: 60px;"><p></p></li>
<li id="tab0" ng-click="changeView('createStory1')" role="presentation" class="active"><a class="library-tab raleway-bold">Step 1</a></li>
<li id="tab1" ng-click="changeView('createStory2')" role="presentation"><a class="library-tab raleway-bold">Step 2</a></li>
<li id="tab2" ng-click="changeView('createStory3')" role="presentation"><a class="library-tab raleway-bold">Step 3</a></li>
<li style="margin-right: 60px;"><p></p></li>
<li class="btn btn-flat btn-success" title="Next" ng-disabled="curTab == 2" ng-click="nextView()" style="float: right;">
    <span class="raleway-bold">Next</span>
</li>
<li class="btn btn-flat btn-success" title="Next" ng-disabled="curTab == 0" ng-click="prevView()" style="float: right; margin-right: 10px">
    <span class="raleway-bold">Previous</span>
</li>

