﻿<li id="tab0" ng-click="changeView('reading')" role="presentation" class="active"><a class="library-tab raleway-bold">Reading Area</a></li>
<li id="tab1" ng-click="changeView('desk')" role="presentation"><a class="library-tab raleway-bold">Desk</a></li>