﻿<!DOCTYPE html>
<html lang="en" ng-app="randsagaApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Tarina</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700|Merriweather:400,700' rel='stylesheet' type='text/css'>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.min.css" rel="stylesheet" />
	<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>
    <link href="Content/animations.css" rel="stylesheet"/>
    <link href="Content/cover.css" rel="stylesheet"/>
	<link href="Content/tarina.css" rel="stylesheet" />
    <link href="Content/tarina-profile.css" rel="stylesheet" />
    <link href="Content/tarina-main.css" rel="stylesheet" />

	
	<!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Angular -->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-animate.min.js" ></script>

    <script src="Scripts/toaster.js"></script>
    <script src="app/app.js"></script>
    <script src="app/data.js"></script>
    <script src="app/directives.js"></script>
    <script src="app/authCtrl.js"></script>
    <script src="app/profileCtrl.js"></script>
    <script src="app/createStoryCtrl.js"></script>
	<script src="app/sidebarCtrl.js"></script>
    <script src="app/getCtrl.js"></script>
    <script src="app/navbarCtrl.js"></script>
    <script src="app/carouselCtrl.js"></script>
    <script src="app/socialCtrl.js"></script>
    <script src="Scripts/animations.js"></script>
    <script src="app/branchCtrl.js"></script>
    <script src="app/tabCtrl.js"></script>
    <script src="app/userCtrl.js"></script>
    <script src="app/searchCtrl.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body style="overflow-y: scroll;">

    <!-- Fixed navbar -->
    <div class="navbar navbar-fixed-top" ng-controller="navbarCtrl">
        <div class="navbar-inverse nav-row container-fluid" role="navigation">
            <div class="row">
                <!--div class="container"-->
                <div class="col-sm-2">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a ng-show="showBrand" class="navbar-brand" id="logo-small-white" href={{brandlink}}></a>
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <div ng-if="authenticated">
                        <div class="col-sm-5">
                            <form class="input-group" ng-show="showSearch" id="navbar-search" style="padding: 8px 12px 0px 12px">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Find stories"
                                       ng-model="searchQuery"
                                       ng-change="filterStories(searchQuery); filterUsers(searchQuery)"
                                       ng-keyup="$event.keyCode == 13 && searchRedirect(searchQuery)">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="searchRedirect(searchQuery)"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </form>
                        </div>
                        <div class="col-sm-5">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown" ng-controller="profileCtrl">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" style="vertical-align: top; max-height: 50px; overflow:visible;" aria-expanded="false">
                                        <img class="tarina-navatar" src="{{avatar}}" />
                                        {{username}}
                                        <span class="caret tarina-navatar-caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#!/profile"><span class="glyphicon glyphicon-user text-muted" style="margin-right: 5px"></span>Profile</a></li>
                                        <li><a href="#!/library"><span class="glyphicon glyphicon-book text-muted" style="margin-right: 5px"></span>Library</a></li>
                                        <li><a href="#!/messages"><span class="glyphicon glyphicon-envelope text-muted" style="margin-right: 5px"></span>Messages</a></li>
                                        <li class="divider"></li>
                                        <li><a ng-click="logout();"><span class="glyphicon glyphicon-log-out text-muted" style="margin-right: 5px"></span>Log Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="!authenticated">
                        <div class="col-sm-10">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#!/login">Login</a></li>
                                <li><a href="#!/register">Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!--/.nav-collapse -->
            </div>
        </div><!-- /.navbar -->
        <!-- custom typeahead container. If it's stupid and it works, it's not stupid. -->
        <div class="nav-row" ng-show="showTypeahead">
            <div class="row ">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-5">
                    <div class="tarina-typeahead-outer">
                        <div class="tarina-typeahead-inner">
                            <div class="list-group" style="margin: 0;">
                                <h3 class="list-group-item typeahead-group-header" ng-if="(queryStories != null && queryStories.length > 0)">Stories</h3>
                                <a class="list-group-item tarina-typeahead-item" href="#!/story/{{item.id}}" ng-repeat="item in queryStories | limitTo: 5">
                                    <div class="tarina-typeahead-even">
                                        <span>{{item.name}}</span>
                                        <span style="float:right; font-size: 12px;">{{item.category}}</span>
                                        <!--<p class="text-muted" style="font-size: 10px;">{{item.description | limitTo: 180}}{{item.description.length > 180 ? '...' : ''}}</p>-->
                                        <p class="text-muted" style="font-size: 10px;" ng-bind-html="removeFormatting(item.description)"></p>
                                    </div>
                                </a>
                                <h3 class="list-group-item typeahead-group-header" ng-if="(queryPeople != null && queryPeople.length > 0)">People</h3>
                                <a class="list-group-item tarina-typeahead-item" href="#!/users/{{item.username}}" ng-repeat="item in queryPeople | limitTo: 5">
                                    <div class="tarina-typeahead-even">
                                        <span><img class="tarina-typeahead-avatar" src="{{item.avatar}}" /></span>
                                        <span>{{item.username}}</span>
                                        <!--<p class="text-muted" style="font-size: 10px;" >{{item.description | limitTo: 180}}{{item.description.length > 180 ? '...' : ''}}</p>-->
                                        <p class="text-muted" style="font-size: 10px;" ng-bind-html="removeFormatting(item.description)"></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">

                </div>
            </div>
        </div>
    </div>

    <div class="unify">
        <div ng-view class="view-frame" style="padding-top: 50px;"></div>
    </div> <!-- /container -->
    <toaster-container></toaster-container>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="Scripts/bootstrap.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular-sanitize.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular.min.js'></script>
</body>
</html>