<div ng-controller="branchCtrl" ng-init="init()">
    <div ng-show="!editMode" class="page-header tarina-header" placeholder="branch header">
        <a style="float: right;" href="#/story/{{sid}}/{{parent}}" ng-hide="parent == '0'">Backtrack choice: {{branchChoice}}</a>
    </div>
    <div ng-show="!editMode" class="page-header tarina-header" placeholder="branch header">
        <h1>{{branchTitle}}</h1>
    </div>
    <form ng-show="editMode">
        <input type="text" class="form-control title-editor" name="head" id="head" placeholder="{{branchTitle}}" ng-model="update1.head" ng-model-options="{debounce: 300}">
    </form>
    <!-- Branch Intro Text -->
    <div ng-show="!editMode" ng-init="init()" class="reading-area merriweather" ng-bind-html="branchIntroText">
    </div>
    <!-- textangular input -->
    <form ng-show="editMode" style="margin-top: 10px;">
        <div class="merriweather" text-angular="text-angular" placeholder="{{branchIntroText}}" ng-model="update2.body" name="body" id="body"></div>
        <input type="hidden" ng-init="init()" name="body" id="body" ng-model="update2.body" placeholder="{{branchIntroText}}">
    </form>



    <!-- childbranches choices-->
    <div ng-show="!editMode" class="list-group merriweather">
        <a ng-repeat="branch in branchChoices" href="#/story/{{branch.sid}}/{{branch.id}}" class="list-group-item branch-option">{{branch.choice}}</a>
    </div>

    <!-- editmode childbranches choice -->
    <form ng-show="editMode"  class="merriweather" style="margin-bottom: 10px;">
        <div ng-repeat="branch in branchChoices" class="input-group" style="margin-top: 10px;">
            <input type="text" class="form-control" placeholder="{{branch.choice}}" ng-model="branch.choice;" ng-model-options="{debounce: 300}">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-cog text-muted" style="font-size: 16px; vertical-align: middle;"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a>Add New </a></li>
                    <li><a>Link Existing</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="deleteBranch(branch.id)">Delete</a></li>
                </ul>
            </div>
        </div>     
    </form>
    <form ng-show="editMode;" name="newBranchForm">
        <input style="margin-top: 20px;" ng-show="maxedChoices" ng-hide="branchChoices.length > '4'" type="text" class="form-control" name="choice" id="choice" placeholder="Choice to get to this branch" ng-model-options="{debounce: 300}" ng-model="branch.choice">

        <a type="submit" ng-show="maxedChoices" ng-hide="branchChoices.length > '4'" ng-click="createBranch(branch)"><h4><span style="margin-right: 5px; float: right;" class="glyphicon glyphicon-plus-sign"></span>Add new choice</h4></a>
    </form>

    <!-- editmode branches end-->

    <!--Edit Button-->
    <div ng-show="!editMode">
        <button ng-show="editRights" class="btn btn-flat btn-warning" title="Edit" style="float: right;" ng-click="toggleEdit()">
            <span class="raleway-bold">Edit</span>
        </button>
    </div>
    <div ng-show="editMode">
        <button class="btn btn-flat btn-danger" title="Cancel" style="float: right;" ng-click="cancelEdit()">
            <span class="raleway-bold">Cancel</span>
        </button>
        <button class="btn btn-flat btn-success" title="Publish" style="float: right; margin-right: 10px" ng-click="updateField(update1); updateField(update2); publish()" ng-hide="branchChoices.length < '1'">
            <span class="raleway-bold">Publish</span>
        </button>
        <div ng-hide="branchChoices.length > '0'">
            <p style="color:red;">create at least one choice</p>
        </div>
    </div>

</div>

<div class="row" ng-if="authenticated">
    <div class="col-sm-12">
        <h3>Comments</h3>
        <div id="disqus_thread"></div>
    </div><!-- /col-sm-12 -->
</div>


<!--ng-repeat this div>
<div class="row">
    <div class="col-sm-12 tarina-flexcontainer-row">
        <div style="height: 64px; width: 64px; margin-right: 5px; border: 2px solid #d0d0d0; border-radius: 3px;">
            <img class="img-responsive user-photo" src="{{avatar}}">
        </div>
        <div class="panel panel-default tarina-flexitem">
            <div class="panel-heading">
                <strong>Some_User</strong> <span class="text-muted">commented 5 days ago</span>
            </div>
            <div class="panel-body">
                Comment body
            </div><!-- /panel-body >
        </div-->
<!-- /panel panel-default >
    </div>
</div>

<div class="row">
    <div class="col-sm-12 tarina-flexcontainer-row">
        <div style="height: 64px; width: 64px; margin-right: 5px; border: 2px solid #d0d0d0; border-radius: 3px;">
            <img class="img-responsive user-photo" src="{{avatar}}">
        </div>
        <div class="panel panel-default tarina-flexitem">
            <div class="panel-heading">
                <strong>Some_OtherUser</strong> <span class="text-muted">commented 11 days ago</span>
            </div>
            <div class="panel-body">
                Much longer comment body
                <p>I am a second sentence</p>
                <br />
                <br />
                cake.
            </div><!-- /panel-body >
        </div-->
<!-- /panel panel-default>
    </div>
</div-->
