﻿<div ng-controller="tabCtrl">
    <ul id="library-tabs" class="nav nav-tabs default-fade-anim" style="padding: 20px 20px 0 20px; margin: 0 -15px 10px -15px;" ng-include="currentTabs"></ul>
    <div style="padding: 10px 15px 0px 15px">
        <div ng-include="currentView" ng-controller="createStoryCtrl"></div>
    </div>
</div>

<!--<div class="page-content">
    <div class="row">
        <div class="space-6">
        </div>
        <div class="col-sm-6 col-sm-offset-1" style="margin-top:100px;">
            <form name="createstoryForm" class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">Story Title</label>
                    <div class="col-sm-9">
                        <span class="block input-icon input-icon-right">
                            <input type="text" class="form-control" placeholder="Title" name="name" ng-model="createstory.name" ng-minlength="1" required/>
                            <span>
                                <small ng-show="createstoryForm.name.$error.required">Story Title too short</small> 

                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="category">Category</label>
                    <div class="col-sm-9">
                        <span class="block input-icon input-icon-right">
                            <input type="text" class="form-control" placeholder="Category" name="category" ng-model="createstory.category"/>
                        </span>
						
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="category">Story Desription</label>
                    <div class="col-sm-9">
                        <span class="block input-icon input-icon-right">
                            <input type="text" class="form-control" placeholder="Story description" name="description" ng-model="createstory.description"/>
                        </span>
                        
                    </div>
                </div>
				
				<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="category">Story</label>
				<div class="col-sm-9">
                        
                            <div text-angular="text-angular"></div>

                        
                            
							</div>
				</div>-->

<!--                 <div class="form-group">
                    <label class="col-sm-5 control-label no-padding-right" for="category">Public?</label>
                    <div>
                        <span class="block input-icon input-icon-right">
                            <input type="checkbox" class="form-control" ng-model="fromData.public" name="public" ng-true-value="true" ng-false-value="false">
                        </span>
                    </div>
                </div> -->

<!--                 <div class="form-group">
                    <label class="col-sm-5 control-label no-padding-right" for="password">Co Authors</label>
                    <div class="col-sm-7">
                            <span class="block input-icon input-icon-right">
                            <input type="password" class="form-control" name = "password" placeholder="Password" ng-model="signup.password" required/>
                            <small class="errorMessage" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> Enter username or email of your co authors.</small>
                        </span>
                    </div>
                </div> -->


                <!--<div class="form-group">
                    <span class="lbl col-sm-5"> </span>
                    <div class="col-sm-7">
                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="createStory(createstory)">
                            Create Story
                        </button>
                    </div>
                    </div>
            </form>
        </div>
    </div>
</div>-->


