﻿<div>
    <div class="row">
        <div class="col-md-12" style="padding: 0;">
            <div class="carousel slide"
                 id="carouselTwo"
                 ng-controller="carouselCtrl"
                 ng-init="target = '#carouselTwo'">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active" ng-controller="getCtrl" data-ng-init="getOnLoadStories()">
                        <h3 class="shelf-header">Random Stories</h3>
                        <div class="shelf-row tarina-flexcontainer-row">
                            <a href="#!/story/{{story.id}}" class="thumbnail shelf-item" ng-repeat="story in stories | limitTo: 4">
                                <div>
                                    <p ng-if="story.name.length <= 16" class="shelf-item-header">{{story.name}}</p>
                                    <p ng-if="story.name.length > 16 && story.name.length < 22" class="shelf-item-header" style="font-size: 12px;">{{story.name}}</p>
                                    <p ng-if="story.name.length > 22" class="shelf-item-header" style="font-size: 10px;">{{story.name}}</p>
                                    <p class="shelf-item-category">{{story.category}}</p>
                                    <p class="shelf-item-desc">{{removeFormatting(story.description)}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item" ng-controller="getCtrl" data-ng-init="searchQuery = 'Steampunk'; searchStories()">
                        <h3 class="shelf-header">Steampunk</h3>
                        <div class="shelf-row tarina-flexcontainer-row">
                            <a href="#!/story/{{story.id}}" class="thumbnail shelf-item" ng-repeat="story in stories | filter:{ category: 'Steampunk' } | limitTo: 4">
                                <div>
                                    <p ng-if="story.name.length <= 16" class="shelf-item-header">{{story.name}}</p>
                                    <p ng-if="story.name.length > 16 && story.name.length < 22" class="shelf-item-header" style="font-size: 12px;">{{story.name}}</p>
                                    <p ng-if="story.name.length > 22" class="shelf-item-header" style="font-size: 10px;">{{story.name}}</p>
                                    <p class="shelf-item-category">{{story.category}}</p>
                                    <p class="shelf-item-desc">{{removeFormatting(story.description)}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item" ng-controller="getCtrl" data-ng-init="searchQuery = 'Fantasy'; searchStories()">
                        <h3 class="shelf-header">Fantasy</h3>
                        <div class="shelf-row tarina-flexcontainer-row">
                            <a href="#!/story/{{story.id}}" class="thumbnail shelf-item" ng-repeat="story in stories | filter:{ category: 'Fantasy' }| limitTo: 4">
                                <div>
                                    <p ng-if="story.name.length <= 16" class="shelf-item-header">{{story.name}}</p>
                                    <p ng-if="story.name.length > 16 && story.name.length < 22" class="shelf-item-header" style="font-size: 12px;">{{story.name}}</p>
                                    <p ng-if="story.name.length > 22" class="shelf-item-header" style="font-size: 10px;">{{story.name}}</p>
                                    <p class="shelf-item-category">{{story.category}}</p>
                                    <p class="shelf-item-desc">{{removeFormatting(story.description)}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control custom-control" role="button" style="background-image: none;" ng-click="carouselPrev()">
                    <span class="glyphicon glyphicon-menu-left custom-chevron" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control custom-control" role="button" style="background-image: none;" ng-click="carouselNext()">
                    <span class="glyphicon glyphicon-menu-right custom-chevron" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


        </div>
    </div>
</div>