<div class="row">
    <div class="col-sm-12">
        <div class="page-header tarina-header">
            <h1>Adventure Time</h1>
            <h5>by <a href="#">Dude McAuthorsson</a></h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <!-- Dummy Description -->
        <div class="panel panel-default reading-area" style="margin-top: 30px;">
            <div class="panel-body">
                <div>
                    This is a story about you, your role in society, a bunch of accountants, a biker gang, some unicorns, possibly a dragon, and booze.
                    <p></p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
        </div>
        <!-- Begin Reading Field-->
        <div style="padding-top: 0px;">
            <div class="panel panel-default">
                <a href="#!/story_internal" class="list-group-item">
                    <p style="text-align:center; font-size: 20px;">
                        Begin Reading
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>
    
<div class="row">
    <div class="col-sm-12">
        <h3>Comments</h3>
    </div><!-- /col-sm-12 -->
</div>

 <!--ng-repeat this div-->
<div class="row">
    <div class="col-sm-12 tarina-flexcontainer-row">
        <div style="height: 64px; width: 64px; margin-right: 5px; border: 2px solid #d0d0d0; border-radius: 3px;">
            <img class="img-responsive user-photo" src="{{avatar}}">
        </div>
        <div class="panel panel-default tarina-flexitem">
            <div class="panel-heading">
                <strong>Some_User</strong> <span class="text-muted">commented 5 days ago</span>
            </div>
            <div class="panel-body">
                Comment body
            </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
    </div>
</div>

<div class="row">
    <div class="col-sm-12 tarina-flexcontainer-row">
        <div style="height: 64px; width: 64px; margin-right: 5px; border: 2px solid #d0d0d0; border-radius: 3px;">
            <img class="img-responsive user-photo" src="{{avatar}}">
        </div>
        <div class="panel panel-default tarina-flexitem">
            <div class="panel-heading">
                <strong>Some_OtherUser</strong> <span class="text-muted">commented 11 days ago</span>
            </div>
            <div class="panel-body">
                Much longer comment body
                <p>I am a second sentence</p>
                <br />
                <br />
                cake.
            </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
    </div>
</div>
