﻿<div ng-controller="profileCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="tarina-flexcontainer-row" style="margin-top: 15px;">

                <!-- Profile Picture -->
                <div class="tarina-gravatarcolumn tarina-flexitem">
                    <div class="tarina-gravatarcontainer">
                        <img src="{{avatar}}" style="height: 100%; width: 100%;" />
                    </div>
                </div>

                <!-- Profile Infobox -->
                <div class="panel panel-default tarina-flexitem" style="width: 100%;">
                    <div class="panel-body">

                        <div class="tarina-section">
                            <h1 style="padding-top:0; margin-top:0; float:left;">{{username}}</h1>
                            <div style="float: right;">
                                <div ng-show="emailForm.email.$error.email" class="help-inline" style="color: red; float: right; font-weight: bold;">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    Invalid E-mail
                                </div>
                            </div>
                        </div>
                        <div class="tarina-section">
                            <!-- Email -->
                            <form name="emailForm">
                                <div ng-show="!editingEmail">
                                    <div class="tarina-editable">
                                        <div class="text-muted" style="float: left; padding-right: 5px;">
                                            <span title="E-mail" class="glyphicon glyphicon-envelope" style="padding-right: 5px;"></span>
                                            {{email}}
                                        </div>
                                        <a title="Edit" class="glyphicon glyphicon-pencil tarina-clickable" ng-click="clearEditing(); toggleEditEmail()" pass-focus-to="email" ng-show="!editingEmail"></a>
                                    </div>
                                </div>
                                <div ng-show="editingEmail">
                                    <div class="input-group tarina-editbox">
                                        <label class="input-group-addon control-label" id="sizing-addon1">
                                            <span title="E-mail" class="glyphicon glyphicon-envelope"></span>
                                        </label>
                                        <input type="email" placeholder="{{email}}" class="form-control" name="email" id="email" ng-model="update1.email" required />
                                        <div class="input-group-btn tarina-editbuttons">
                                            <button title="Accept" class="btn btn-success btn-flat btn-small" ng-click="updateField(update1); toggleEditEmail()" ng-disabled="emailForm.email.$error.email || emailForm.email.$error.required">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                            <button title="Cancel" class="btn btn-danger btn-flat btn-small" ng-click="update1.email = null; toggleEditEmail()">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Website -->
                            <form name="websiteForm">
                                <div ng-show="!editingWebsite">
                                    <div class="tarina-editable">
                                        <div class="text-muted" style="float: left; padding-right: 5px;">
                                            <span title="Website" class="glyphicon glyphicon-home" style="padding-right: 5px;"></span>
                                            {{website}}
                                        </div>
                                        <a title="Edit" class="glyphicon glyphicon-pencil tarina-clickable" ng-click="clearEditing(); toggleEditWebsite()" pass-focus-to="website" ng-show="!editingWebsite"></a>
                                    </div>
                                </div>
                                <div ng-show="editingWebsite">
                                    <div class="input-group tarina-editbox">
                                        <label class="input-group-addon control-label" id="sizing-addon1">
                                            <span title="Website" class="glyphicon glyphicon-home"></span>
                                        </label>
                                        <input type="text" placeholder="{{website}}" class="form-control" name="website" id="website" ng-model="update3.website" required />
                                        <div class="input-group-btn tarina-editbuttons">
                                            <button title="Accept" class="btn btn-success btn-flat btn-small" ng-click="updateField(update3); toggleEditWebsite()">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                            <button title="Cancel" class="btn btn-danger btn-flat btn-small" ng-click="update3.website = null; toggleEditWebsite()">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Description -->
                            <form name="descriptionForm">
                                <h3 style="float:left;">Description:</h3>
                                <div ng-show="!editingDesc">
                                    <div class="tarina-section">
                                        <span style="white-space: pre-line;">{{desc}}</span>
                                        <a title="Edit" class="glyphicon glyphicon-pencil tarina-clickable" style="padding-left: 5px;" ng-click="clearEditing(); update2.desc = desc; toggleEditDesc()" pass-focus-to="description" ng-show="!editingDesc"></a>
                                    </div>
                                </div>
                                <div ng-show="editingDesc">
                                    <textarea style="min-width: 100%; max-width: 100%; min-height: 200px;" ng-show="editingDesc" class="form-control" type="textarea" id="description" ng-model="update2.desc"></textarea>
                                    <span style="float:right; margin-top: 5px;">
                                        <button title="Accept" class="btn btn-success btn-flat btn-small" style="margin-right: 5px;" ng-click="updateField(update2); toggleEditDesc()">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </button>
                                        <button title="Cancel" class="btn btn-danger btn-flat btn-small" ng-click="update2.desc = null; toggleEditDesc()">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Activity</h3>
            <div class="tarina-flexcontainer-row">
                <div class="panel panel-default tarina-flexitem" style="width: 100%;">
                    <div class="panel-heading">
                        Contributions
                    </div>
                    <div class="panel-body" style="min-height: 300px; max-height: 300px; overflow-y: scroll;">
                        You have no story activity.
                    </div>
                </div>
                <div style="padding-right: 15px;"></div>
                <div class="panel panel-default tarina-flexitem" style="width: 100%; max-width: 350px;">
                    <div class="panel-heading">
                        Comments
                    </div>
                    <div class="panel-body" style="min-height: 300px; max-height: 300px; overflow-y: scroll;">
                        You have not commented on anything.
                    </div>
                </div>
            </div>
        </div><!-- /col-sm-12 -->
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Comments</h3>			
        </div><!-- /col-sm-12 -->
    </div>
</div>