<div ng-controller="userCtrl" ng-init="getUserProfile();">
    <div ng-show="user != false">
        <div class="row">
            <div class="col-sm-12">
                <div class="tarina-flexcontainer-row" style="margin-top: 15px;">

                    <!-- Profile Picture -->
                    <div class="tarina-gravatarcolumn tarina-flexitem">
                        <div class="tarina-gravatarcontainer">
                            <img src="{{user.gravatar}}" style="height: 100%; width: 100%;" />
                        </div>
                    </div>

                    <!-- Profile Infobox -->
                    <div class="panel panel-default tarina-flexitem" style="width: 100%;">
                        <div class="panel-body">
                            <div class="tarina-section">
                                <h1 style="padding-top:0; margin-top:0; float:left;">{{user.username}}</h1>
                            </div>
                            <div class="tarina-section">
                                <!-- Website -->
                                <div class="tarina-editable">
                                    <div class="text-muted" style="float: left; padding-right: 5px;">
                                        <span title="Website" class="glyphicon glyphicon-home" style="padding-right: 5px;"></span>
                                        {{user.website}}
                                    </div>
                                </div>
                            </div>
                            <!-- Description -->
                            <h3 style="float:left;">Description:</h3>
                            <div class="tarina-section">
                                <span style="white-space: pre-line;">{{user.description}}</span>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Activity</h3>
                    <div class="tarina-flexcontainer-row">
                        <div class="panel panel-default tarina-flexitem" style="width: 100%;">
                            <div class="panel-heading">
                                Contributions
                            </div>
                            <div class="panel-body" style="min-height: 300px; max-height: 300px; overflow-y: scroll;">
                                You have no story activity.
                            </div>
                        </div>
                        <div style="padding-right: 15px;"></div>
                        <div class="panel panel-default tarina-flexitem" style="width: 100%; max-width: 350px;">
                            <div class="panel-heading">
                                Comments
                            </div>
                            <div class="panel-body" style="min-height: 300px; max-height: 300px; overflow-y: scroll;">
                                You have not commented on anything.
                            </div>
                        </div>
                    </div>
                </div><!-- /col-sm-12 -->
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h3>Comments</h3>
                </div><!-- /col-sm-12 -->
            </div>

            <dir-disqus disqus-shortname="tarina-1"
                     disqus-identifier="{{ identifier }}"
                     disqus-url="{{ url }}">
            </dir-disqus>

        </div>
    </div>
    <div ng-show="user == false">
        <center>
            <h2 style="margin-top: 100px;">User does not exist</h2>
        </center>
    </div>

</div>