<div ng-controller="getCtrl" ng-init="updateSearch()">
    <div class="tarina-spacer-sm"></div>
    <form class="input-group">
        <input type="text"
               class="form-control"
               placeholder="Find stories and people"
               ng-model="searchQuery"
               ng-change="searchStories(); searchUsers()">
        <!--ng-keyup="$event.keyCode == 13 && searchStories(); searchUsers()"-->
        <span class="input-group-btn">
            <button class="btn btn-default" ng-click="searchStories(); searchUsers()"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </form>
    <div class="list-group" style="margin: 0;">
        <h3 ng-if="(stories != null && stories.length > 0) || (users != null && users.length > 0)">Search Results</h3>
        <h6 ng-if="stories != null && stories.length > 0">Stories: </h6>
        <a class="list-group-item tarina-typeahead-item" href="#!/story/{{item.id}}" ng-repeat="item in stories | limitTo: 10">
            <div class="tarina-typeahead-even">
                <span>{{item.name}}</span>
                <span style="float:right; font-size: 12px;">{{item.category}}</span>
                <!--<p class="text-muted" style="font-size: 10px;">{{item.description | limitTo: 180}}{{item.description.length > 180 ? '...' : ''}}</p>-->
                <p class="text-muted" style="font-size: 10px;" ng-bind-html="removeFormatting(item.description)"></p>
            </div>
        </a>
        <h6 ng-if="users != null && users.length > 0">Users: </h6>
        <a class="list-group-item tarina-typeahead-item" href="#!/users/{{item.username}}" ng-repeat="item in users | limitTo: 10">
            <div class="tarina-typeahead-even">
                <span>{{item.username}}</span>
                <!--<p class="text-muted" style="font-size: 10px;">{{item.description | limitTo: 180}}{{item.description.length > 180 ? '...' : ''}}</p>-->
                <p class="text-muted" style="font-size: 10px;" ng-bind-html="removeFormatting(item.description)"></p>
            </div>
        </a>
    </div>
</div>