<div ng-controller="getCtrl" data-ng-init='getStoryInfo(); createRootBranch(); getRootBranch()'>
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header tarina-header">
                <h1>{{stories.name}}</h1>
                <h5>Author: {{stories.username}}</a></h5>
                <h5>Category: {{stories.category}}</a></h5>
                <h5>Created: {{stories.created_timedate}}</a></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- Description -->
            <div class="panel panel-default reading-area" style="margin-top: 30px;">
                <div class="panel-body">
                    <p style="white-space: pre-line;" ng-bind-html="stories.description"></p>
                </div>
            </div>
            <!-- Begin Reading Field-->
            <div style="padding-top: 0px;">
                <div class="panel panel-default">
                    <a href="#/story/{{stories.id}}/{{root.id}}" class="list-group-item">
                        <p style="text-align:center; font-size: 20px;">
                            Begin Reading
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Comments</h3>
        </div><!-- /col-sm-12 -->
    </div>
    <dir-disqus disqus-shortname="tarina-1"
             disqus-identifier="{{ identifier }}"
             disqus-url="{{ url }}">
    </dir-disqus>
    <!--ng-repeat this div-->
    
</div>