html, body
{
    font-family: 'Raleway', sans-serif;
    border-collapse: collapse;
}

.reading-area
{
    padding: 0px 15px 30px 15px;
    background-color: #ffffff;
    color: #1c1c1c;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
 
}

.merriweather
{
    font-family: 'Merriweather';
}

.raleway-bold
{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}


.unify {
    clear: both;
    height: 0px;
    display: block;
}

#logo-small {
    min-height: 33px;
    background: url('../img/logoSmall.png') 0 0;
	background-repeat: no-repeat;
    background-position: center center;
}

#logo-small-white {
    min-height: 33px;
    background: url('../img/logoSmallWhite.png') 0 0;
	background-repeat: no-repeat;
    background-position: center center;
}

#logo-splash{
    height: 200px;
	margin:auto;
	display:block;
    background: url('../img/tarinastylizedbig.png') 0 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
    z-index: 1;
}

#tarina-campfire{
    min-height: 300px;
    display:block;
    background: url('../img/campfire.gif') 0 0;
	background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    position:fixed; 
    bottom:0; 
    left:5%;
    right:5%;
    z-index: 0;
}


a
{
    color: #ffb700;
}

a:hover,
a:focus
{
    color: #ffd874;
    text-decoration: none;
}

a.thumbnail
{
    color: inherit;
    text-shadow: 4px 2px 4px #FFFFFF;
}

a.thumbnail:hover,
a.thumbnail:focus
{
    border-color: #ffb700;
    box-shadow: rgba(225,183,100,0.5) 2px 5px 5px;
}

.panel
{
    border: 2px solid #d0d0d0;
}

.list-group
{


}

.tarina-sidebarview
{
    margin-top: -50px;
    padding-top: 50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 100vh;
    align-content: stretch;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.tarina-centerview
{
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0px 15px 0px 15px;
}

.tarina-sidebar
{
    background-color: #f3f3f3;
    padding: 15px;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    min-width: 250px;
}

.tarina-sidebar-left
{
    border-right: 2px solid #d0d0d0;
}

.tarina-sidebar-right
{
    border-left: 2px solid #d0d0d0;
}

.tarina-sidebar-glyph
{
    margin-right: 15px;
}


.sidebar-panel
{
    border: none;
    background-color: #f3f3f3;
    margin-bottom: 50px;
}


.sidebar-item
{
    padding-bottom: 0px;
    margin-bottom: 5px;
    border-width: 1px;
}

.navbar-brand
{
    width: 80px;
}


.tarina-bg {
	background-image: url('../img/tarinaback2.jpg');
    background-color: #000000;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}


.tarina-splash-bg {
	background-image: url('../img/tarinaback2b.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000;
    background-attachment: fixed;
    z-index: -1;
}

.tarina-splashcontainer
{

}

.tarina-innersplashcolumn{
    margin-left: auto;
	margin-right: auto;
    text-shadow: 2px 0px 20px #000;
    /*
    background-size: 800px 100%;
	background-image: url('../img/backblackrepeat.png');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
        */
}

.tarina-intro
{
    padding: 0px 15px 0px 33px;
    max-width: 480px;
    /*-webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
    margin-left: auto;
	margin-right: auto;
    position: relative;
    z-index: 2;
}

.tarina-outersplashcolumn
{
    margin-left: auto;
	margin-right: auto;
}

.tarina-splash-button
{
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: 0px 5px 15px #000000;
}

.tarina-typeahead-inner{
    background: rgba(34,34,34,1);
    padding: 0px 2px 2px 2px;
    border-radius: 5px;
    margin: 0;
}


.tarina-typeahead-outer{
	box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    border-radius: 5px;
	padding: 0;
    margin: -5px 13px 0px 13px;
}

.typeahead-group-header {
    border-width: 0px;
    padding: 15px 5px 15px 15px;
    margin: 0;
    font-size: 16px;
    border-top: 2px solid #d0d0d0;
    border-bottom: 2px solid #d0d0d0;
    background-color: #f0f0f0;
}

.tarina-typeahead-item
{
    border-width: 0px;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-size: 16px;
    border-bottom: 2px dotted #f3f3f3;
}

.cover-heading{
	margin-left: auto;
	margin-right: auto;
}

.navbar-offset-fix
{
	margin-top: -50px;
    padding-top: 50px;
}

.tarina-spacer-bg {
	height: 128px;
}

.tarina-spacer-md {
	height: 64px;
}

.tarina-spacer-sm {
	height: 32px;
}

.tarina-debug
{
    border: 2px solid blue;
}


.branch-option
{

}

.tarina-black-element
{
    background-color: #1c1c1c;
    color: #ffffff;
}
.tarina-header
{
    padding: 0px 15px 15px 15px;
    /*padding-top: 10px;
    margin-bottom: 0px;*/
    border-bottom:none;
}

.tarina-resultbox
{

}

.tarina-flexcontainer-row
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.tarina-flexcontainer-column
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.tarina-flexitem
{
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
}

.text-muted
{

}

.white-shader
{
    background-color: white;
    color: #1c1c1c;
    opacity: 0.5;
}

.black-shader
{
    background-color: #1c1c1c;
    color: #ffffff;
    opacity: 0.5;
}

.twitter-timeline
{

}

.hide-width-lt980
{
    display: initial;
}

.hide-width-gt980
{
    display: none;
}


@media (max-height: 600px)
{
    #hide-height-600
    {
        display: none;
    }
}

@media (min-width: 1280px)
{
    .tarina-sidebar-left
    {
        border-left: 2px solid #d0d0d0;
    }

    .tarina-sidebar-right
    {
        border-right: 2px solid #d0d0d0;
    }

}
@media (max-width: 1280px)
{
    .tarina-sidebar
    {
        min-width: 200px;
    }
}

@media (max-width: 1024px)
{
    .hide-width-lt980
    {
        display: none;
    }

    .hide-width-gt980
    {
        display: initial;
    }

    .tarina-sidebarview
    {
        height: initial;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .tarina-sidebar{
        background-color: #ffffff;
        border: none;
        -webkit-justify-content: flex-end;
        -ms-justify-content: flex-end;
        justify-content: flex-end;
        height: initial;
    }

    .tarina-centerview
    {
        -webkit-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start;
        height: initial;
        width: 100%;
    }
}

@media (max-width: 640px)
{
	.tarina-intro
	{
	    padding: 0px 15px 0px 15px;
	}
	
	.tarina-spacer-bg{
		height: 48px;
	}

	.tarina-spacer-md{
		height: 32px;
	}

	.tarina-spacer-sm{
		height: 16px;
	}
}

