﻿.nav-tabs 
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.library-tab
{

}

a.library-tab
{
    color: #979797;
    cursor: pointer;
}

.library-tab.bg-danger:hover
{
    color: white;
    background-color: #871616;
}

.nav-row
{

}

.carousel
{

}

.carousel-inner
{
    margin-left: auto;
    margin-right: auto;
}


.carousel-control {
    max-width: 50px;
}

.custom-chevron
{
    position: absolute;
    z-index: 5;
    margin: 0;
    padding: 0;
    display: inline-block;
    top: calc(50% - 8px);
    left: 0;
    right: 0;
    color: black;
    font-size: 32px;
}

.carousel-caption
{
   top:10px; 
   left: 40px;
   margin: 0 0 0 0;
   padding: 0;
   text-align: left;
}

.carousel-indicators{
   bottom:10px; 
   right: 10px;
   margin: 0 0 0 0;
}


.shelf-row
{
    margin: auto;
    padding: 10px 45px 10px 45px;
    min-height: 250px;
}

.shelf-header
{
    padding: 20px 50px 0px 50px;
    margin: 0;
    text-align: left;
    font-size: 24px;
}

.custom-control
{
    opacity: 1;
}

.custom-control:hover
{
    opacity: 0.5;
}



.shelf-bg {
    background-color: #FFFFFF;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}



.shelf-item-header
{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.shelf-item-category
{
    text-align: center; 
    font-size: 12px;
}

.shelf-item-desc
{
    padding-top: 15px;
    text-align: justify;
    font-size: 12px;
}

.shelf-item
{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 5px;
    border: 2px solid #3d3d3d;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin: 0 5px 10px 5px;
    box-shadow: rgba(0,0,0,0.5) 2px 5px 5px;
    max-height: 205px;
    min-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.title-editor
{
    font-size: 36px;
    height: 60px;
    margin-top: 29px;
    padding: 0 14px 0 14px;
    font-weight: bold;
}

@media (max-width: 640px)
{
    .nav-row
    {
        padding: 0;
    }

	.shelf-header
	{
	    margin: 0;
        padding: 10px 5px 10px 5px;
	}
	
	.shelf-row{
		margin: 0;
        padding: 10px 5px 10px 5px;
	}

    .carousel-inner
    {
        margin-top: 32px;
    }

    .custom-chevron
    {
        top: -32px;
        text-shadow: 0px 0px 5px #FFF;
    }


}