﻿.tarina-clickable
{
    cursor: pointer;
}

.tarina-editbox
{

}

.tarina-gravatarcontainer
{
    min-height: 80px;
    max-height: 128px;
    min-width: 80px;
    max-width: 128px;
    border: 2px solid #e8e8e8;
    border-radius: 3px;
}

.tarina-navatar
{
    position: relative;
    top: -5px;
    margin: 0 0 10px 0;
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    border: 2px solid #404040;
    border-radius: 3px;
}

.tarina-typeahead-avatar
{
    margin: 0 0 10px 0;
    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
    max-width: 64px;
    border: 1px solid #f3f3f3;
    border-radius: 3px;
}

.tarina-navatar-caret
{
    position: relative;
    top: -10px;
    margin-left: 5px;
}



.tarina-section
{
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.tarina-warningbox
{
    min-width: 128px;
    min-height: 64px;
}

.tarina-gravatarcolumn
{
    margin-right: 15px;
    min-width: 128px;
}

.tarina-editable
{
    height: 34px;
    padding: 7px 0px 7px 0px;
    margin-bottom: 0px;
}

.tarina-editbuttons
{

}

@media (max-width: 640px)
{
    .tarina-btn-logout{
        margin-right: auto;
        margin-left: auto;
        float: none;
        width: 100%;
    }

	.tarina-flexcontainer-row
	{
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
	}

    .tarina-gravatarcolumn
    {
        margin-right: auto;
        margin-left: auto;
        min-height: 128px;
        margin-bottom: 15px;
    }
}
