<!--

<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-10 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="space-16"></div>
                    UID: {{uid}}
                    <br/>USERNAME: {{username}}
                    <br/>E-MAIL: {{email}}
                    <br/>
                    <a ng-click="logout();">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div> 

-->

 <div id="content-wrapper">
        <div class="page-header">
            <div class="row">
                <!-- Page header, center on small screens -->
                <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-coffee page-header-icon"></i>&nbsp;&nbsp;Account Settings <img src="{{avatar}}"></img></h1>
                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <hr class="visible-xs no-grid-gutter-h">
                        <!-- Margin -->
                        <div class="visible-xs clearfix form-group-margin"></div>
                    </div>
                </div>
            </div>
        </div> <!-- / .page-header -->            
        <div class="row row-centered form-horizontal">
            <div class="col-xs-12 col-lg-7 col-centered" id="settingspanel">
                    <div class="panel-heading">
                        <span class="panel-title"><p>Edit your account settings</p></span>
                    </div>
                    <div class="panel-body">
                    <form>
                        <div class="settings_form_buffer"></div>
                        <div class="row form-group">
                            <label class="col-sm-4 control-label">Username:</label>
                            <div class="col-sm-8">
                                <div class="well">
                                    {{username}}
                                </div>
                            </div>
                        </div>
                    </form>
                    <form name="emailForm">
                        <div class="row form-group"><p>&nbsp;</p>
                            <label class="col-sm-4 control-label">Email:</label>
                            <div class="col-sm-8">
                                <div class="well">
                                    <div ng-show="!editingEmail">{{email}}</div>
                                    <input type="email" ng-show="editingEmail" placeholder="{{email}}" class="form-control" name="email" id="email" ng-model="update1.email" required/>
                                    <span ng-show="emailForm.email.$error.email" class="help-inline">Invalid email</span> 
                                </div>
                                <span>
                                    <button class="btn btn-info btn-flat btn-small" ng-click="toggleEditEmail()" pass-focus-to="email" ng-show="!editingEmail">Edit email</button>
                                    <button class="btn btn-info-red btn-flat btn-small" ng-click="toggleEditEmail()" ng-show="editingEmail">Cancel</button>
                                    <button class="btn btn-info-green btn-flat btn-small" ng-click="updateField(update1); toggleEditEmail()" ng-disabled="emailForm.email.$error.email || emailForm.email.$error.required" ng-show="editingEmail">Save</button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <form name="descriptionForm">
                        <div class="row form-group"><p>&nbsp;</p>
                            <label class="col-sm-4 control-label">Profile Description:</label>
                            <div class="col-sm-8">
                                <div class="well">
                                    <div ng-show="!editingDesc">
                                    {{desc}}
                                    </div>
                                    <textarea rows="4" cols="50" ng-show="editingDesc" class="form-control" type="textarea" id="description" ng-model="update2.desc"></textarea>
                                </div>
                                <span>
                                    <button class="btn btn-info btn-flat btn-small" ng-click="toggleEditDesc()" pass-focus-to="description" ng-show="!editingDesc">Edit description</button>
                                    <button class="btn btn-info-red btn-flat btn-small" ng-click="toggleEditDesc()" ng-show="editingDesc">Cancel</button>
                                    <button class="btn btn-info-green btn-flat btn-small" ng-click="updateField(update2); toggleEditDesc()" ng-show="editingDesc">Save</button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <form name="websiteForm">
                        <div class="row form-group"><p>&nbsp;</p>
                            <label class="col-sm-4 control-label">Website:</label>
                            <div class="col-sm-8">
                                <div class="well">
                                    <div ng-show="!editingWebsite">
                                    {{website}}
                                    </div>
                                    <input type="text" ng-show="editingWebsite" placeholder="{{website}}" class="form-control" name="website" id="website" ng-model="update3.website" required/>
                                </div>
                                <span>
                                    <button class="btn btn-info btn-flat btn-small" ng-click="toggleEditWebsite()" pass-focus-to="description" ng-show="!editingWebsite">Edit Website</button>
                                    <button class="btn btn-info-red btn-flat btn-small" ng-click="toggleEditWebsite()" ng-show="editingWebsite">Cancel</button>
                                    <button class="btn btn-info-green btn-flat btn-small" ng-click="updateField(update3); toggleEditWebsite()" ng-show="editingWebsite">Save</button>
                                </span>
                            </div>
                        </div>
                    </form>

                    <!--
                    <div class="panel-heading">
                        <span class="panel-title"><p>Change password</p></span>
                    </div>
                    

                    <div class="row form-group"><p>&nbsp;</p>
                        <label class="col-sm-4 control-label">Current password:</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="state" type="text" id="state" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="password">Password</label>
                        <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name = "password" placeholder="Password" ng-model="signup.password" required/>
                                <small class="errorMessage" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> Enter Password.</small>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label no-padding-right" for="password2">Confirm Password</label>
                        <div class="col-sm-7">
                            <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name="password2" placeholder="Password Again" ng-model="signup.password2" password-match="signup.password" required/>                                
                                <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required"> Enter password again.</small>

                                <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required">Passwords do not match.</small>
                            </span>
                        </div>
                    </div>
                    
                    <div class="text-left">
                            <button alt="Submit" name="submit" value="submit" class="btn btn-info btn-flat btn-lg">Update</button>
                    </div>-->
                    <a ng-click="logout();">Logout</a>
        </div><!--end blogleft -->
</div><!-- End Container -->