<div class="tarina-bg">
    <div class="tarina-sidebarview">
        <!-- Left Sidebar-->
        <div class="tarina-sidebar tarina-sidebar-left" ng-include="leftSidebar">
        </div>
        <!-- Center view -->
        <div class="tarina-centerview" ng-include="centerView">
        </div>
        <!-- Right Sidebar-->
        <div class="tarina-sidebar tarina-sidebar-right" ng-include="rightSidebar">
        </div>
    </div>
</div>