<div class="tarina-splash-bg" style="min-height: 100vh; overflow: hidden; padding-top: 50px; margin-top: -50px; text-align: center; color: white; text-shadow: 0px 2px 1px #000000;">
    <div class="site-wrapper">
        <div class="cover-container">
            <h1 class="cover-heading" id="logo-splash" style="width: 75%;"></h1>
            <div class="tarina-intro">
                <div class="tarina-spacer-sm"></div>
                <p class="h1">Hello there, wanderer.</p>
                <div class="tarina-spacer-sm"></div>
                <p class="lead" style="margin: auto; max-width: 370px; text-align: justify;">
                    You have stumbled upon an online collaborative storytelling experience.
                    Here you can choose to read, share, write, and collaborate on stories with your friends and other users.
                </p>
                <div class="tarina-spacer-sm"></div>
                <p class="lead" style="margin: auto; max-width: 370px; text-align: justify;">
                    Watch stories grow, evolve, prosper or fail.
                    In this place, a good story doesn't have to end. In this place, how the story goes is up to you.
                </p>
                <div class="tarina-spacer-sm"></div>
                <p class="h2">
                    What do you choose to do?
                </p>
                <div class="tarina-spacer-sm"></div>
                <p class="h2">
                    <a href="#!/main" class="btn btn-lg btn-default tarina-splash-button" style="margin: 5px; width: 180px;">Start Browsing</a>
                    <a href="http://www.bbc.com/news/" class="btn btn-lg btn-default tarina-splash-button" style="margin: 5px; width: 180px;">Run Away</a>
                </p>
            </div>
        </div>
    </div>
</div>
