﻿<!--First control panel-->
<div class="list-group sidebar-panel">
    <a href="#!/main" class="list-group-item sidebar-item">
        <p>
            <span class="glyphicon glyphicon-home tarina-sidebar-glyph"></span>
            Main
        </p>
    </a>
    <a ng-if="authenticated" href="#!/profile" class="list-group-item sidebar-item">
        <p>
            <span class="glyphicon glyphicon-user tarina-sidebar-glyph"></span>
            {{username}}
        </p>
    </a>
    <a ng-if="authenticated" href="#!/library" class="list-group-item sidebar-item">
        <p>
            <span class="glyphicon glyphicon-book tarina-sidebar-glyph"></span>
            Library
        </p>
    </a>
    <!--<a ng-if="authenticated" href="#/messages" class="list-group-item sidebar-item">
        <p>
            <span class="glyphicon glyphicon-envelope tarina-sidebar-glyph"></span>
            Messages
        </p>
    </a>-->
    <a href="#!/search" class="list-group-item sidebar-item">
        <p>
            <span class="glyphicon glyphicon-search tarina-sidebar-glyph"></span>
            Search
        </p>
    </a>
</div>
