<!--First control panel-->
<div class="list-group sidebar-panel" ng-if="authenticated">
    <a class="list-group-item sidebar-item">
        <p>
            <span class="glyphicon glyphicon-thumbs-up tarina-sidebar-glyph"></span>
            Like
        </p>
    </a>
    <a class="list-group-item sidebar-item">
        <p>
            <span class="glyphicon glyphicon-plus tarina-sidebar-glyph"></span>
            Add to Library
        </p>
    </a>
    <!--Should have admin priviliges for this particular story below this. !NYI!-->
    <a class="list-group-item sidebar-item">
        <p>
            <span class="glyphicon glyphicon-flag tarina-sidebar-glyph"></span>
            Report
        </p>
    </a>
</div>
