<!--First control panel-->
<div ng-include="'html/sidebars/default.html'">

</div>

<!--Second control panel-->
<div class="list-group sidebar-panel" ng-if="authenticated">
    <a href="#!/some_story_activity_page" class="list-group-item sidebar-item">
        <p>
            <span class="glyphicon glyphicon-time tarina-sidebar-glyph"></span>
            Activity
        </p>
    </a>
    <a href="#!/some_story_privilege_page" class="list-group-item sidebar-item">
        <p>
            <span class="glyphicon glyphicon-lock tarina-sidebar-glyph"></span>
            Priviliges
        </p>
    </a>
    <!--Should have admin priviliges for this particular story below this. !NYI!-->
    <a href="#!/LOLMODERATORTOOLS" class="list-group-item sidebar-item">
        <p>
            <span class="glyphicon glyphicon-cog tarina-sidebar-glyph"></span>
            Administration
        </p>
    </a>
</div>