﻿<div class="container">
    <div class="row">
        <div class="col-md-9">
            <form class="navbar-form">
                <div class="form-group" style="display:inline;">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Category 1</a></li>
                                <li><a href="#">Category 2</a></li>
                                <li><a href="#">Category 3</a></li>
                                <li><a href="#">Category 4</a></li>
                                <li><a href="#">Category 5</a></li>
                            </ul>
                        </div>
                        <input type="text" class="form-control" placeholder="Search stories" ng-change="searchStories()" ng-model="searchQuery">

                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span>
                    </div>
                </div>
            </form>
            <p>
            </p>
            <p>
                <h3 class="shelf-header">Search Results</h3>
                <div class="row shelf-row" style="overflow:hidden; max-height: 100%;" data-ng-init="getOnLoadStories()">
                    <ul ng-repeat="story in stories">
                        <div class="shelf-slot story-listing">
                            <a href="#!/story/{{story.id}}" class="thumbnail shelf-item"></a>
                            <div class="shelf-hack">
                                <div class="shelf-item-header">{{story.name}}</div>
                                <div class="shelf-item-author">{{story.adminid}}</div>
                                <div class="shelf-item-desc">{{story.category}}</div>
                            </div>
                        </div>
                    </ul>
                </div>
            </p>
  
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
 
