<div class="page-content">
    <div class="row">
        <div class="space-6">
        </div>
        <div class="col-sm-6 col-sm-offset-1" style="margin-top:100px;">
            <form name="createbranchForm" class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="name">Branch head</label>
                    <div class="col-sm-9">
                        <span class="block input-icon input-icon-right">
                            <input type="text" class="form-control" placeholder="Title" name="head" ng-model="createBranch.head" ng-minlength="1" required/>
                            <span>
                                <small ng-show="createbranchForm.name.$error.required">Branch head too short</small> 

                            </span>
                        </span>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="category">Branch Body</label>
                    <div class="col-sm-9">
                        <span class="block input-icon input-icon-right">
                            <input type="text" class="form-control" placeholder="branch body" name="body" ng-model="createBranch.body"/>
                        </span>
                        
                    </div>
                </div>

                <div class="form-group">
                    <span class="lbl col-sm-5"> </span>
                    <div class="col-sm-7">
                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="createBranch(createbranch)">
                            Create Branch
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


