<div class="page-content">

<div class="row">
<div class="space-6"></div>
<div class="col-sm-10 col-sm-offset-1" style="margin-top:100px;">
    <div id="login-box" class="login-box visible widget-box no-border">
        <div class="space-16"></div>

        <form name="passwordForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="email">Email</label>
                <div class="col-sm-7">
                    <span class="block input-icon input-icon-right">
                        <input type="email" class="form-control" placeholder="Email" name="email" ng-model="forgot.email" required focus/>
                        <span ng-show="passwordForm.email.$error.email" class="help-inline">Invalid email</span> 
                        <i class="ace-icon fa fa-user"></i>
                    </span>
                </div>
            </div>

            <div class="space"></div>
            <div class="clearfix">
                <div class="row">
                 <label class="col-sm-3 control-label no-padding-right"> </label>
                    <div class="col-sm-7">
                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="forgotPW(forgot)" data-ng-disabled="passwordForm.$invalid">
                            <i class="ace-icon fa fa-key"></i>
                            Reset password
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>