<div class="page-content">

<div class="row">
<div class="space-6"></div>
<div class="col-sm-10 col-sm-offset-1" style="margin-top:100px;">
    <div id="login-box" class="login-box visible widget-box no-border">
        <div class="space-16"></div>

        <form name="passwordForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-right" for="password">Password</label>
                <div class="col-sm-7">
                        <span class="block input-icon input-icon-right">
                        <input type="password" class="form-control" name = "password" placeholder="Password" ng-model="updated.password" required/>
                        <small class="errorMessage" data-ng-show="passwordForm.password.$dirty && passwordForm.password.$invalid"> Enter Password.</small>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 control-label no-padding-right" for="password2">Confirm Password</label>
                <div class="col-sm-7">
                    <span class="block input-icon input-icon-right">
                        <input type="password" class="form-control" name="password2" placeholder="Password Again" ng-model="updated.password2" password-match="updated.password" required/>                                
                        <small class="errorMessage" data-ng-show="passwordForm.password2.$dirty && passwordForm.password2.$error.required"> Enter password again.</small>

                        <small class="errorMessage" data-ng-show="passwordForm.password2.$dirty && passwordForm.password2.$error.passwordNoMatch && !passwordForm.password2.$error.required">Passwords do not match.</small>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <span class="lbl col-sm-5"> </span>
                <div class="col-sm-7">
                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="updatePW(updated)">
                        Update password
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>