﻿<div class="page-content">
    <div class="row">
        <div class="space-6">
        </div>
    	<div class="col-sm-6 col-sm-offset-1" style="margin-top:100px;">
			<form name="signupForm" class="form-horizontal" role="form">
				<div class="form-group">
				    <label class="col-sm-5 control-label no-padding-right" for="email">Email</label>
                	<div class="col-sm-7">
					    <span class="block input-icon input-icon-right">
						    <input type="text" class="form-control" placeholder="Email" name="email" ng-model="signup.email" focus/>
						    <span ng-show="signupForm.email.$error.email" class="help-inline">Invalid email</span> 
						</span>
					</div>
				</div>

                <div class="form-group">
                    <label class="col-sm-5 control-label no-padding-right" for="username">Username</label>
                    <div class="col-sm-7">
                        <span class="block input-icon input-icon-right">
                            <input type="text" class="form-control" placeholder="Username" name="username" ng-model="signup.username"/>
                        </span>
                    </div>
                </div>

				<div class="form-group">
					<label class="col-sm-5 control-label no-padding-right" for="password">Password</label>
					<div class="col-sm-7">
							<span class="block input-icon input-icon-right">
							<input type="password" class="form-control" name = "password" placeholder="Password" ng-model="signup.password" required/>
							<small class="errorMessage" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> Enter Password.</small>
						</span>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-5 control-label no-padding-right" for="password2">Confirm Password</label>
					<div class="col-sm-7">
						<span class="block input-icon input-icon-right">
							<input type="password" class="form-control" name="password2" placeholder="Password Again" ng-model="signup.password2" password-match="signup.password" required/>                                
							<small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required"> Enter password again.</small>

							<small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required">Passwords do not match.</small>
						</span>
					</div>
				</div>

			    <div class="form-group">
				    <span class="lbl col-sm-5"> </span>
				    <div class="col-sm-7">
				        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="signUp(signup)">
				            Register
				        </button>
				    </div>
				</div>
			    <span class="lbl col-sm-5"> </span>
			    <div class="col-sm-7">Already have an account? <a href="#!/login">Sign In</a>
			    </div>
			</form>
		</div>
	</div>
</div>

<!-- /.page-content -->