﻿<a class="tarina-typeahead" href="#/story/{{match.model.id}}">
    <span class="glyphicon glyphicon-align-justify" style="margin-right: 5px;"></span>
    <span ng-bind-html="match.model.name | typeaheadHighlight:query"></span>
    <span class="text-muted" ng-bind-html="match.model.category" style="margin-left: 15px; float:right; font-size:12px;"></span>
</a>

<!--<div class="typeahead-group-header" ng-if="match.model.firstInGroup">{{match.model.queryGroup}}</div>
<a class="tarina-typeahead">
    <span ng-if="match.model.queryGroup == 'Stories'" class="glyphicon glyphicon-align-justify" style="margin-right: 5px;"></span>
    <span ng-if="match.model.queryGroup == 'People'" class="glyphicon glyphicon-user" style="margin-right: 5px;"></span>
    <span ng-bind-html="match.model.name | typeaheadHighlight:query"></span>
    <span class="text-muted" ng-bind-html="match.model.category" style="margin-left: 15px; float:right; font-size:12px;"></span>
</a>-->
